<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background properties</title>
    <style>
        body {
/* background-color: blue; 
background-image: url(harley.jpg);
background-repeat: no-repeat;
background-position: top left;
opacity: 1.0;
background-attachment: fixed; */
/* background:color image repeat attachment position */
background: yellow url(harley.jpg) no-repeat fixed top left;
height: 10000px;
        }
    </style>
</head>
<body>
    <div class="container">
<p>
    welcome to myworld
</p>
    </div>
</body>
</html>
