<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colors in Css</title>
    <style>
        #name{
            color:blue;
        }
        #byRGB{
            color:rgb(0,0,0);
        }
        #ByHEXcode{
color: #6a1b9a;
        }
    </style>
</head>
<body>
    <h1>Colors in CSS</h1>
    <h2>Different Ways</h2>
    <ul>
        <li id="name">By Name</li>
        <li id="byRGB">By RGB</li>
        <li id="ByHEXcode">By Hex Code</li>
    </ul>
</body>
</html>
