<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit in CSS</title>
    <style>
        .OuterDiv{
            background-color: orange;
            height:50vh;
            width:50vw;
            /* absolute units->in,cm,px*/
        }
.innerdiv{
    background-color: blue;
    height: 50%;
     width:50%;
}
/*relative units->%,vh,vw*/
/*v->viewport,vh->viewport height,vw->viewportwidth*/
    </style>
</head>
<body>
    <div class="OuterDiv">
        <div class="innerdiv">

        </div>
    </div>
    
</body>
</html>
